{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="/assets/css/pro/pro.css" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block title %}Recherche Professionnel - Jobster
{% endblock %}

{% block body %}
	<div class="titreimage">
		<div class="titleBrand">
			<h1>Rechercher un
				<br>Professionnel</h1>
		</div>
		<h2 class="beforeBrandWave">Ma Recherche :</h2>
		<img src="/assets/img/index/vaguetop.svg" alt="" srcset="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 style="text-decoration:underline;">Métier :</h4>
				<div class="dropdown">
					<form action="/professional/searchresults" method="post">
						<select class="form-select" name="metier" aria-label="Default select example">
							<option selected value="">Choisir</option>
							<option value="1">Graphisme</option>
							<option value="2">Développement</option>
							<option value="3">Référencement</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<h4 style="text-decoration:underline;">Prix :</h4>
					<div class="dropdown">
						<select class="form-select" name="order" aria-label="Default select example">
							<option selected value="">Ordre</option>
							<option value="ASC">Croissant</option>
							<option value="DESC">Décroissant</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<h4 style="text-decoration:underline;">Tri :</h4>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							Par pertinence
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li>
								<a class="dropdown-item" href="#">Par prix</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Par métiers</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<h4 style="text-decoration:underline;">Type Entreprise :</h4>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown button
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li>
								<a class="dropdown-item" href="#">Action</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another action</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Something else here</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container acces" style="margin-top:30px;">
				<div class="row">
					<button type="submit" class="btn btn-dark">Acceder aux résultats de ma recherche</a>
				</div>
			</form>

		</div>
	</div>

	{% if searchResults %}

		<div class="searchResults">


			{% for results in searchResults %}


				<div class="fichePreview">
					<div class="imageWithName">
						<img src="/assets/img/pro/defaultpro.png" alt="" srcset="">
						<div class="detailedProfile">
							{% if results.serviceCategory == "Graphiste" %}
								<span class="etiq etiqGraph">{{results.serviceCategory}}</span>
							{% elseif results.serviceCategory == "Développeur" %}
								<span class="etiq etiqDev">{{results.serviceCategory}}</span>
							{% elseif results.serviceCategory == "Référencement" %}
								<span class="etiq etiqRef">{{results.serviceCategory}}</span>
							{% endif %}


							<p class="nameDetails">
								{{results.name|join(', ')}}
							</p>
						</div>
					</div>

					<div class="profileDesc">

						<p>
							<span class="quote">"</span>
							{{results.descriptionService}}</p>
						<span class="quotebottom">"</span>


					</p>


					<a href="" class="gotoProfile">Voir toutes les prestations</a>


				</div>

			</div>
		{% endfor %}
	{% endif %}
</div>{% endblock %}
