{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="/assets/css/index/index.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Accueil - Jobster
{% endblock %}

{% block body %}


	<div class="titlewithimage">
		<div class="titleBrand">						
			<h1>Les services du numérique
				<br>
				à portée de main</h1>
		</div>
		<h2 class="beforeBrandWave">Catégories de professionnels</h2>

		<img src="/assets/img/index/vaguetop.svg" alt="" srcset="">
	</div>

	<div class="servicesPreview">
		<div class="servicePrev">
			<a href="{{ path('professionalsearch')}}">
				<img src="/assets/img/index/graph.png" alt="">
				<h3>Graphisme</h3>
			</a>
		</div>

		<div class="servicePrev">
			<a href="{{ path('professionalsearch')}}">
				<img src="/assets/img/index/jefe.png" alt="">
				<h3>Référencement</h3>
			</a>
		</div>

		<div class="servicePrev">
			<a href="{{ path('professionalsearch')}}">
				<img src="/assets/img/index/dev.png" alt="">
				<h3>Développement</h3>
			</a>
		</div>

	<buton class="btn btn-primary" style="position:absolute; top:180px;right:70px; z-index:999; height: 50px;"><a class="nav-link" href="{{path('admin_interface')}}" style="color:white">Espace modération</a></button>

	</div>


	<div class="blockInformations">
		<img src="/assets/img/index/wavesummary.svg" alt="">
		<div class="summaryBoxWithText">
			<div class="summaryTextBlock">
				<h4>Jobster</h4>
				<p>
					Regroupe et vous met en lien avec des 
					professionnels, prêts à prendre en main votre mission. Créez un lien avec un professionnel et obtenez un devis 
					en quelques clics, de façon automatique.
				</p>
			</div>

			<div class="summaryImage">
				<img src="/assets/img/index/Jobster1.png" alt="">

			</div>
		</div>

	</div>


	<section class="blockNotations">
		<h5>On parle de nous...</h5>

		<div class="avisNameNote">
			<img class="head" src="/assets/img/index/josette.png" alt="">
			<div class="note">
				<div class="stars">
					<img src="/assets/img/index/stars.png" alt="">
					<img src="/assets/img/index/stars.png" alt="">
					<img src="/assets/img/index/stars.png" alt="">
					<img src="/assets/img/index/stars.png" alt="">
					<img src="/assets/img/index/stars.png" alt="">

				</div>
				<p class="avisName">Princesse Josette, cliente JOBSTER
				</p>
			</div>
		</div>

		<p class="descAvis">JOBSTER m’a permis de trouver un développeur 
		professionnel, et m’a mis à jour mon site web
		au complet.</p>

	</section>

{% endblock %}

