{% extends 'base.html.twig' %}

{% block title %}Hello AdminInterfaceController!{% endblock %}

{% block body %}
<style>
    thead { background: #242424; color: #FFF; font-size:1.2rem;}
    th { padding:5px; margin-bottom: 0.5rem;}
     { padding:0.3rem;}
    tbody td,thead th { padding:0.3rem;}

</style>

<div class="container-fluid">
    <h1>Modération des comptes utilisateurs ✅</h1>
    <table class="container text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Code postal</th>
                <th>Voir la fiche</th>
                <th>Supprimer la fiche</th>
            </tr>
        </thead>

    {% for user in users %}
        <tbody>
            <tr>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.codePostal}}</td>
                <td><a href="{{ path('fichepro', { id: user.id }) }}"><button class="btn btn-primary">Voir</button></a></td>
                <td><a href="/admin/interface/remove?id={{user.id}}"><button class="btn btn-danger">Suprrimer</button></a></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
